.featured-section {
  padding: 3rem 2rem;
  background-color: #201f1f;
  overflow: hidden;
  position: relative;
}

.featured-title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  color: #9C9078;
}

.featured-track-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.featured-track {
  display: flex;
  gap: 1.5rem;
  width: max-content;
}

.featured-card {
  flex: 0 0 280px;
  background: #9C9078;
  border-radius: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  
}

.featured-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.featured-image {
  position: relative;
  width: 100%;
  height: 200px;
}

.featured-img {
  object-fit: cover;
}

.featured-info {
  padding: 1rem;
  text-align: center;
}

.featured-info h3 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #faf8f8;
}

.featured-info p {
  font-size: 0.95rem;
  color: #ffffff;
}
