/* ===== HERO SECTION ===== */
.hero {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ===== BACKGROUND IMAGE ===== */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: 
  linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #464545 100%),
  url("/hero-house.png") center/cover no-repeat;
  z-index: 1;
  filter: brightness(0.45);
}



.hero-text h1 {
  font-size: 4rem;
  color: white;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.hero-text p {
  color: #f3f4f6;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero-btn {
  display: inline-block;
  background: #9C9078;
  color: white;
  
  padding: 0.8rem 1.6rem;
  border-radius: 12px;
  text-decoration: none;
  transition: transform 0.3s ease, background 0.3s ease;
}

.hero-btn:hover {
  transform: scale(1.05);
  background: #60655D;
}

/* ===== RESPONSIVE NAVBAR ===== */
@media (max-width: 768px) {
  

  .hero-text h1 {
    margin-top: 60px;
    font-size: 3.5rem;
  }
}
