/* Osnovni layout */
.login-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #201f1f;
  padding: 1rem;
}

/* Glavni kontejner */
.login-box {
  background-color: #60655D;
  padding: 2.5rem;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

/* Naslov */
.login-title {
  font-size: 1.8rem;
  font-weight: 600;
  color:white;
  margin-bottom: 2.5rem;
}

/* Forma */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-form input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.login-form input:focus {
  outline: none;
  border-color: #796705;
}

/* Dugme za prijavu */
.login-btn {
  background-color: #9C9078;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background-color: #60655D;
}

/* Error poruka */
.login-error {
  color: #e11d48;
  margin-top: 1rem;
  font-size: 0.9rem;
}

/* Društvene mreže */
.login-socials {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.google-btn,
.facebook-btn {
  padding: 0.6rem;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.google-btn {
  background-color: #dc2626;
}

.google-btn:hover {
  background-color: #b91c1c;
}

.facebook-btn {
  background-color: #2563eb;
}

.facebook-btn:hover {
  background-color: #1e3a8a;
}
