.profile-wrapper {
  margin-top: 50px;
  display: flex;
  min-height: 80vh;
  background: #201f1f;
  padding: 2rem;
  gap: 2rem;
}

.profile-sidebar {
  width: 260px;
  background: #60655D;
  border-radius: 16px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.sidebar-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.8rem;
  border: 3px solid #9C9078;
}

.profile-nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.nav-btn {
  background: #9C9078;
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 8px;
  text-align: left;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.nav-btn:hover {
  background: #9C9078;
  color: white;
}

.nav-btn.active {
  background: #9C9078;
  color: white;
}

.profile-content {
  flex: 1;
  background: #60655D;
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.profile-card h2 {
  margin-bottom: 1rem;
}

.profile-info label {
  display: block;
  margin-top: 0.8rem;
  font-weight: 400;
}

.profile-info input {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.3rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}
select {
  width: 100%;
  height: 40px;
  border-radius: 8px;
}

.profile-buttons {
  margin-top: 1.5rem;
  display: flex;
  gap: 0.8rem;
}

.edit-btn,
.save-btn,
.cancel-btn {
  border: none;
  border-radius: 8px;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  font-weight: 600;
}

.edit-btn {
  background: #9C9078;
  color: white;
}

.save-btn {
  background: #9C9078;
  color: white;
}

.cancel-btn {
  background: #ccc;
  color: black;
}

.profile-message {
  margin-top: 1rem;
  color: #04b36b;
  font-weight: 600;
}


/* Hamburger dugme */
.menu-toggle {
  display: none;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1001;
  color: #9C9078;
  margin-top: 45px;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  cursor: pointer;
}

/* Mobile layout */
@media (max-width: 768px) {
  .profile-wrapper {
    flex-direction: column;
    padding: 1rem;
  }

  .menu-toggle {
    display: block;
   
  }

  .profile-sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    max-width: 280px;
    height: 100%;
    background: #60655D;
    box-shadow: 4px 0 10px rgba(0,0,0,0.15);
    border-radius: 0;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
  }

  .profile-sidebar.open {
    left: 0;
  }

  .profile-content {
    width: 100%;
    margin-top: 4rem;
    padding: 1rem;
  }

  .profile-info input {
    font-size: 14px;
    padding: 0.5rem;
  }

  .profile-buttons {
    flex-direction: column;
  }

  .edit-btn, .save-btn, .cancel-btn {
    width: 100%;
  }
}
