.property-details-container {
  margin-top: 50px;
  display: flex;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
  color: white;
}

.property-images {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.preview-img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: all 0.3s ease;
}

.preview-img:hover {
  transform: scale(1.02);
  filter: brightness(1.1);
}

.property-info-section {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.price {
  font-size: 1.4rem;
  color: #9C9078;
  
}

.desc {
  margin-top: 1rem;
  line-height: 1.6;
}

.actions {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.call-btn,
.msg-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
 
  transition: 0.3s ease;
}

.call-btn {
  background-color: #9C9078;
}

.call-btn:hover {
  background-color: #60655D;
}

.msg-btn {
  background-color: #60655D;
}

.msg-btn:hover {
  background-color: #9C9078;
}
