.properties-section {
  
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 3rem 2rem;
  background-color: #201f1f;
}

.property-card {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.property-image {
  position: relative;
  width: 100%;
  height: 300px;
}

.property-img {
  object-fit: cover;
  filter: brightness(80%);
  transition: filter 0.3s ease;
}

.property-card:hover .property-img {
  filter: brightness(100%);
}

.property-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background 0.3s ease;
}

.property-card:hover .property-overlay {
  background: rgba(0, 0, 0, 0.2);
}
